table.datatable {
    @apply py-0;
}

.dataTables_wrapper * {
    @apply text-sm text-left;
}

.dataTables_wrapper .dataTables_length select {
    @apply py-2 pl-3 pr-7 ml-2 text-gray-600 cursor-pointer font-medium text-xs md:text-sm rounded-lg bg-gray-100 border border-gray-100 hover:bg-gray-200 hover:border-gray-200 shadow-sm focus:ring-primary-500 focus:border-primary-500 !important
}

.dataTables_wrapper .dataTables_filter {
    @apply flex mt-0;
}

.dataTables_wrapper .dataTables_filter button {
    @apply ml-2;
}

.dataTables_wrapper .dataTables_filter span.dt-down-arrow {
    @apply hidden;
}

.dataTables_wrapper .dataTables_filter input {
    @apply w-52 mx-0 px-4 py-2 text-gray-600 text-xs md:text-sm font-medium rounded-lg bg-gray-100 border border-gray-100 shadow-sm focus:ring-primary-500 focus:border-primary-500
}


table.dataTable tbody th,
table.dataTable tbody td {
    @apply py-1 md:py-2.5 px-2 md:px-4 text-gray-800 text-xs md:text-[0.9rem] border-b border-gray-100;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable tbody th,
table.dataTable tbody td {
    @apply pl-4;
}

table.dataTable tbody td img {
    @apply rounded shadow-sm h-8 w-auto mx-auto
}

table.dataTable thead th,
table.dataTable thead td {
    @apply border-b border-gray-200 text-gray-700 font-medium text-xs mb-2 py-1 md:py-3;
}

/*Pagination Buttons*/
.dataTables_paginate.paging_simple_numbers {
    @apply relative z-0 inline-flex;
}

.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.next {
    @apply rounded-lg py-2 text-gray-700 font-medium transition-colors duration-200 hover:bg-gray-50 relative inline-flex items-center border-none focus:outline-none focus:border-primary-500 focus:ring-1 focus:ring-primary-500 !important
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    @apply px-3.5 !important
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.next {
    @apply px-2.5 !important
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    @apply cursor-not-allowed hover:bg-white text-gray-200 hover:text-gray-200 !important;
}

/*Pagination Buttons - Current selected */
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: none;
    @apply z-10 bg-primary-500 border-none text-white font-semibold !important;
}

/*Pagination Buttons - Hover */
.dataTables_wrapper .dataTables_paginate .paginate_button:not(.current,.disabled):hover {
    background: none;
    @apply bg-gray-200 text-gray-700 border-none !important;
}

/*Add padding to bottom border */
table.dataTable.no-footer {
    @apply border-b-0 mt-5 mb-0;
}

.dataTables_info, .dataTables_paginate.paging_simple_numbers {
    @apply mt-4 lg:mt-8;
}

/*Change colour of responsive icon*/
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    @apply bg-primary-500;
}

.dataTables_wrapper .dataTables_info .select-info {
    @apply pl-2;
}

.dataTables_info, .dataTables_length {
    @apply text-sm text-left text-gray-700 !important;
}

/* floating header */
.dtfh-floatingparent.dtfh-floatingparenthead {
    @apply overflow-visible bg-white !important;
}

.dtfh-floatingparent.dtfh-floatingparenthead table.dataTable {
    @apply my-0 py-0 !important;
}

.dtfh-floatingparent.dtfh-floatingparenthead table.dataTable thead th {
    @apply text-gray-800 font-medium border-b border-gray-200 !important;
}

.table-row-deleted td:first-child {
    @apply text-red-500 !important;
}

/*Row Hover*/
table.dataTable.hover tbody tr:hover td,
table.dataTable.display tbody tr:hover td{
    @apply bg-gray-50 cursor-pointer !important;
}

tr td:first-child,
tr th:first-child {
    @apply bg-white
}

table.dataTable tbody tr.selected td {
    @apply bg-gray-50 !important
}
table.dataTable tbody tr.selected td:first-child {
    @apply border-l-2 border-l-primary-500 pl-3.5 !important
}

/* Hide scrollbar for Chrome, Safari and Opera */
.custom-filters::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.custom-filters {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Scrollable */
.dataTables_scrollHeadInner table {
    @apply mb-0 !important
}

.dataTables_scrollBody table#datatable {
    @apply mt-0 !important
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    @apply border-none
}

/* Fixed columns */
tr td:first-child {
    @apply border-r border-r-gray-100 lg:border-r-0 !important
}

tr.dt-rowReorder-moving td.dtfc-fixed-left, tr.dt-rowReorder-moving td.dtfc-fixed-right {
    border-top: 2px solid #555 !important;
    border-bottom: 2px solid #555 !important
}

tr.dt-rowReorder-moving td.dtfc-fixed-left:first-child {
    border-left: 2px solid #555 !important
}

tr.dt-rowReorder-moving td.dtfc-fixed-right:last-child {
    border-right: 2px solid #555 !important
}

/* Filter */
.btn-filter.active {
    @apply bg-primary-50 text-primary-600 hover:bg-primary-200 !important
}
.btn-filter.active svg {
    @apply text-primary-600 !important
}
