table.datatable {
    @apply py-0;
}

.dataTables_wrapper .dataTables_filter {
    @apply flex mt-0;
}

.dataTables_wrapper .dataTables_filter button {
    @apply ml-2;
}

.dataTables_wrapper .dataTables_filter span.dt-down-arrow {
    @apply hidden;
}

.dataTables_wrapper .dataTables_filter input {
    @apply w-52 mx-0 px-4 py-2 text-gray-600 text-xs md:text-sm font-medium rounded-lg bg-gray-100 border border-gray-100 shadow-sm focus:ring-primary-500 focus:border-primary-500
}


table.dataTable tbody th,
table.dataTable tbody td {
    @apply py-1 md:py-2.5 text-gray-900 text-xs md:text-[0.9rem] border-b border-gray-100 !important;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable tbody th,
table.dataTable tbody td {
    @apply pl-4;
}

table.dataTable tbody td img {
    @apply rounded shadow-sm h-8 w-auto mx-auto
}

table.dataTable thead th,
table.dataTable thead td {
    @apply border-b border-gray-400 text-gray-700 font-semibold text-xs mb-2 py-1 md:py-3 !important;
}

/*Pagination Buttons*/
#datatable_wrapper div.dt-layout-cell.dt-layout-end > div > nav {
    @apply flex items-center
}

div.dt-container .dt-paging .dt-paging-button {
    @apply text-sm rounded-md py-2 text-gray-700 font-medium transition-colors duration-200 hover:bg-gray-50 relative inline-flex items-center border-none focus:outline-none focus:border-primary-500 focus:ring-1 focus:ring-primary-500 !important
}

div.dt-container .dt-paging .dt-paging-button.current, div.dt-container .dt-paging .dt-paging-button.current:hover {
    background: none;
    @apply z-10 bg-primary-500 border-none text-white font-semibold !important;
}

div.dt-container .dt-paging .dt-paging-button:hover {
    background: none;
    @apply bg-gray-200 text-gray-700 border-none !important;
}

div.dt-container .dt-paging .dt-paging-button.disabled, div.dt-container .dt-paging .dt-paging-button.disabled:hover, div.dt-container .dt-paging .dt-paging-button.disabled:active {
    @apply cursor-not-allowed hover:bg-white text-gray-200 hover:text-gray-200 !important;
}

.dataTables_paginate.paging_simple_numbers {
    @apply relative z-0 inline-flex;
}

.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.next {
    @apply rounded-lg py-2 text-gray-700 font-medium transition-colors duration-200 hover:bg-gray-50 relative inline-flex items-center border-none focus:outline-none focus:border-primary-500 focus:ring-1 focus:ring-primary-500 !important
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    @apply px-3.5 !important
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.next {
    @apply px-2.5 !important
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    @apply cursor-not-allowed hover:bg-white text-gray-200 hover:text-gray-200 !important;
}

/*Pagination Buttons - Current selected */
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: none;
    @apply z-10 bg-primary-500 border-none text-white font-semibold !important;
}

/*Pagination Buttons - Hover */
.dataTables_wrapper .dataTables_paginate .paginate_button:not(.current,.disabled):hover {
    background: none;
    @apply bg-gray-200 text-gray-700 border-none !important;
}

/*Add padding to bottom border */
table.dataTable.no-footer {
    @apply border-b-0 mt-5 mb-0;
}

.dataTables_info, .dataTables_paginate.paging_simple_numbers {
    @apply mt-4 lg:mt-8;
}

/*Change colour of responsive icon*/
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    @apply bg-primary-500;
}

#datatable_wrapper > div:nth-child(1) {
    @apply mb-5 mt-0;
}

#datatable_wrapper > div:nth-child(3) {
    @apply mt-5 mb-0;
}

.dt-info > span {
    @apply ml-2;
}

.dt-info {
    @apply text-sm text-gray-700 !important;
}

.dataTables_info, .dataTables_length {
    @apply text-sm text-left text-gray-700 !important;
}

/* floating header */
.dtfh-floatingparent.dtfh-floatingparenthead {
    @apply overflow-visible bg-white !important;
}

.dtfh-floatingparent.dtfh-floatingparenthead table.dataTable {
    @apply my-0 py-0 !important;
}

.dtfh-floatingparent.dtfh-floatingparenthead table.dataTable thead th {
    @apply text-gray-800 font-medium border-b border-gray-200 !important;
}

.table-row-deleted td:nth-child(2) {
    @apply text-red-500 !important;
}

/*Row Hover*/
table.dataTable.hover tbody tr:hover td,
table.dataTable.display tbody tr:hover td{
    background-color: #fff !important;
    box-shadow: inset 0 0 0 9999px #fff;
}

table.dataTable tbody tr.selected > * {
    box-shadow: inset 0 0 0 9999px rgba(228, 228, 231, 0.6);
    color: #000;
}

table.dataTable.hover > tbody > tr.selected:hover > *,
table.dataTable.display > tbody > tr.selected:hover > * {
    box-shadow: inset 0 0 0 9999px rgba(228, 228, 231, 0.6) !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.custom-filters::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.custom-filters {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Scrollable */
.dataTables_scrollHeadInner table {
    @apply mb-0 !important
}

.dataTables_scrollBody table#datatable {
    @apply mt-0 !important
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    @apply border-none
}

/* Fixed columns */
/*tr td:first-child {*/
/*    @apply border-r border-r-gray-100 lg:border-r-0 !important*/
/*}*/

/*tr.dt-rowReorder-moving td.dtfc-fixed-left, tr.dt-rowReorder-moving td.dtfc-fixed-right {*/
/*    border-top: 2px solid #555 !important;*/
/*    border-bottom: 2px solid #555 !important*/
/*}*/

/*tr.dt-rowReorder-moving td.dtfc-fixed-left:first-child {*/
/*    border-left: 2px solid #555 !important*/
/*}*/

/*tr.dt-rowReorder-moving td.dtfc-fixed-right:last-child {*/
/*    border-right: 2px solid #555 !important*/
/*}*/

/* Filter */
.btn-filter.active {
    @apply bg-primary-50 text-primary-500 !important
}
.btn-filter.active svg {
    @apply text-primary-500 !important
}

/* Select */
#datatable .select-checkbox.dt-select {
    cursor: pointer;
}

#datatable .select-checkbox.dt-select > input {
    cursor: pointer;
    border-radius: 3px;
    @apply focus:outline-none focus:ring-2 focus:ring-primary-500;
}

/* Responsive */
table.dataTable > tbody > tr.child ul.dtr-details {
    width: 100%;
}

table.dataTable > tbody > tr.child ul.dtr-details .dtr-data img {
    display: inline-block;
    height: 50px;
}

div.dt-container .dt-search input, /* Search */
div.dt-buttons > .dt-button, div.dt-buttons > div.dt-button-split .dt-button, /* Buttons */
div.dt-container .dt-length select, /* Select results per page */
.table-select-actions-btn /* Custom button for select actions */
{
    @apply px-4 py-2 text-gray-700 bg-gray-100 shadow-sm text-sm border border-transparent rounded-lg font-medium focus:outline-none focus:ring-2 focus:ring-gray-300 !important
}

/* Buttons */
div.dt-buttons {
    @apply mr-2 !important
}

div.dt-buttons > .dt-button, div.dt-buttons > div.dt-button-split .dt-button {
    @apply bg-none transition-colors duration-200 hover:bg-gray-200 m-0 !important;
}

/* Search */
div.dt-container .dt-search input {
    @apply w-52 mx-0
}

/* Select results per page */
div.dt-container .dt-length {
    @apply ml-2 !important
}
div.dt-container .dt-length select {
    @apply pr-8 transition-colors duration-200 hover:bg-gray-200 cursor-pointer !important
}

/* Custom button for select actions and filters */
.table-select-actions {
    @apply ml-2 !important
}
.table-select-actions-btn {
    @apply m-auto btn-has-icon transition-colors duration-200 hover:bg-gray-200 !important
}
