@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilites {
    .text-2xs {
        font-size: 0.6rem;
    }
}

@layer components {
    .btn {
        @apply px-5 py-2 font-bold rounded shadow focus:outline-none focus:ring-2;
    }

    .btn-sm {
        @apply px-4 text-sm;
    }

    .btn-primary {
        @apply bg-blue-500 hover:bg-blue-600 text-white focus:border-blue-300;
    }

    .btn-transparent {
        @apply bg-transparent hover:bg-gray-100 text-gray-700 focus:border-gray-400;
    }

    .btn-white {
        @apply bg-white border border-gray-300 hover:bg-gray-200 text-gray-700;
    }

    .btn-danger {
        @apply bg-red-600 hover:bg-red-700 text-white focus:border-red-300;
    }

    .btn-black {
        @apply bg-black text-white focus:border-gray-900;
    }

    .btn-has-icon {
        @apply flex items-center justify-between gap-x-1;
    }

    .modal {
        @apply hidden fixed z-40 inset-0 overflow-y-auto;
    }

    .modal-dialog {
        @apply flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0;
    }

    .modal-bg {
        @apply fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity;
    }

    .modal-center {
        @apply hidden sm:inline-block sm:align-middle sm:h-screen;
    }

    .modal-content {
        @apply inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full;
    }

    .modal-body {
        @apply bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4;
    }

    .modal-footer {
        @apply bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse;
    }

    .breadcrumbs {
        @apply flex items-center text-2xs;
    }

    .breadcrumbs > .item {
        @apply uppercase tracking-wider mr-3;
    }

    .breadcrumbs > .item-link {
        @apply text-gray-600 hover:underline;
    }

    .breadcrumbs > .item-last {
        @apply text-gray-400;
    }

    .breadcrumbs > .separator {
        @apply mr-3 text-gray-600;
    }

    .section {
        @apply mt-8;
    }

    .section-title {
        @apply mt-10 border-b border-gray-100 pb-3 relative flex justify-between;
    }

    .section-title-name {
        @apply text-xl text-gray-700 font-bold;
    }

    .section-title-border {
        @apply absolute w-7 h-1 bg-blue-600 -bottom-0.5 rounded;
    }

    .section-content {
        @apply mt-7;
    }

    .info-cards {
        @apply flex flex-wrap;
    }

    .info-cards .info-card {
        @apply flex-grow xl:flex-grow-0 w-60 xl:w-72 2xl:w-96 xl:mr-5 mb-3 2xl:mb-0 bg-white px-8 py-6 rounded-lg shadow;
    }

    .info-cards .info-card .label {
        @apply uppercase text-xs tracking-widest text-gray-400 mb-2;
    }

    .info-cards .info-card .value {
        @apply text-gray-700 font-semibold text-4xl;
    }

    .section-content .card {
        @apply bg-white rounded-xl shadow-md px-10 py-8;
    }

    .tabs {
        @apply border-b border-gray-200 mb-8 flex;
    }

    .tabs .tab-item {
        @apply px-7 py-3 mr-3 text-sm tracking-wider text-gray-400 border-b-2 border-white uppercase hover:border-red-500;
    }

    .tabs .tab-item.active {
        @apply text-red-500 font-medium border-red-500 hover:border-red-600;
    }

    .tab-pane {
        @apply hidden;
    }

    .tab-pane.active {
        @apply block;
    }

    .form-inline {
        @apply flex gap-x-6 flex-wrap lg:flex-nowrap w-full;
    }

    .form-group {
        @apply mb-8 w-full lg:w-3/5 xl:w-1/2;
    }

    .form-inline > .form-group {
        @apply mb-4 lg:mb-8;
    }

    .form-label {
        @apply block text-gray-600 mb-2;
    }

    .form-input, .selectize-input {
        @apply text-gray-800 shadow-sm w-full bg-white border-gray-300 border rounded px-3 py-2;
    }

    /* Form components - TinyMCE */
    .form-group > div.tox.tox-tinymce {
        @apply text-gray-800 shadow-sm w-full bg-white border-gray-300 border rounded;
    }

    /* Form components - toggle */
    input:checked ~ .dot {
        @apply transform translate-x-full bg-white;
    }
    input:checked ~ .toggle-background {
        @apply bg-green-400;
    }

    .form-input-comment {
        @apply text-xs text-gray-400 mt-2;
    }

    form fieldset {
        @apply my-8;
    }

    form fieldset legend {
        @apply block w-full text-blue-500 mb-10 border-b border-gray-200;
        line-height: 0.1em;
    }

    form fieldset legend span {
        @apply bg-white pr-4;
    }

    .dropdown {
        @apply absolute bg-white shadow flex rounded border border-gray-200 flex-col text-gray-700 text-sm font-normal z-20 w-52;
    }

    .dropdown .item {
        @apply border-b border-gray-100 px-5 py-3 hover:bg-gray-50;
    }

    .dropdown .item.has-submenu {
        @apply relative cursor-pointer;
    }

    .dropdown-level-2 {
        @apply -right-full top-0;
    }

    .form-input, .btn-white, .selectize-input, .selectize-control, .form-input-focus {
        @apply focus:outline-none focus:ring-1 focus:ring-gray-400 focus:border-transparent;
    }
}

